<div class="container">
  <br>
  <a routerLink="/aereopuertos/create" class="btn">Registrar Aereopuerto</a>

  <table class="table responsive">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Ciudad</th>
        <th>Pais</th>
        <th>Coordx</th>
        <th>Coordy</th>
        <th>Siglas</th>
        <th>Tipo</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of listado">
        <td>{{p.nombre}}</td>
        <td>{{p.ciudad}}</td>
        <td>{{p.pais}}</td>
        <td>{{p.coordx}}</td>
        <td>{{p.coordy}}</td>
        <td>{{p.siglas}}</td>
        <td>{{p.tipo}}</td>
        <td>
          <a routerLink="/aereopuertos/edit/{{p.id}}" class="btn">Editar</a>
          <button class="btn red" (click)="delete(p.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
