<footer class="page-footer pink darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">MisionTIC</h5>
        <p class="grey-text text-lighten-4">Equipo 4 - Grupo 25</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Miembros de equipo</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Jhon Avellaneda</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Jose Gomez</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Luis Puerto</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Roberto Suares</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Andres Cadena</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      ©Proyecto de formacion Ciclo 4 - 2021
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
