<div class="container">
  <h3 class="center-align">Editar Rutas</h3>

  <form [formGroup]="fgValidacion" class="col s12" (ngSubmit)="edit()">
    <input formControlName="id" type="hidden" class="validate">
    <div class="row">
      <div class="input-field col s6">
        <input formControlName="Tiempo Estimado" type="text" class="validate">
        <label class="active" for="Tiempo Estimado">Nombre</label>
      </div>
      <div class="input-field col s6">
        <input formControlName="Origen" type="text" class="validate">
        <label class="active" for="Origen">Apellidos</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="Destino" type="text" class="validate">
        <label class="active" for="Destino">Telefono</label>
      </div>
    </div>

    <div class="row center-align">
      <button [disabled]="!fgValidacion.valid" class="btn waves-effect waves-light" type="submit" name="action">Enviar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
