<div class="container">
  <h3 class="center-align">Editar Rutas</h3>

  <form [formGroup]="fgValidacion" class="col s12" (ngSubmit)="edit()">
    <input formControlName="id" type="hidden" class="validate">
    <div class="row">
      <div class="input-field col s6">
        <input formControlName="Tiempo Estimado" type="text" class="validate">
        <label class="active" for="Tiempo Estimado">Nombre</label>
      </div>
      <div class="input-field col s4">
        <select class="browser-default" formControlName="origen">
          <option value="" disabled selected>Seleccione aereopuerto origen</option>
          <option *ngFor="let aereopuerto of listadoAeropuertos" value="{{aereopuerto.nombre}}">{{aereopuerto.nombre}}
          </option>
        </select>
      </div>
      <div class="input-field col s4">
        <select class="browser-default" formControlName="origen">
          <option value="" disabled selected>Seleccione la aereopuerto</option>
          <option *ngFor="let aereopuerto of listadoAeropuertos" value="{{aereopuerto.nombre}}">{{aereopuerto.nombre}}
          </option>
        </select>
      </div>
    </div>
    <div class="row center-align">
      <button [disabled]="!fgValidacion.valid" class="btn waves-effect waves-light" type="submit" name="action">Enviar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
