<div class="container">
  <br>
  <a routerLink="/vuelos/create" class="btn">Registrar Persona</a>

  <table class="table responsive">
    <thead>
      <tr>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Hora Inicio</th>
        <th>Hora Fin</th>
        <th>Asientos Vendidos</th>
        <th>Nombre Piloto</th>
        <th>Ruta</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of listado">
        <td>{{p.fechaInicio}}</td>
        <td>{{p.fechaFin}}</td>
        <td>{{p.horaInicio}}</td>
        <td>{{p.horaFin}}</td>
        <td>{{p.asientosVendidos}}</td>
        <td>{{p.nombrePiloto}}</td>
        <td>{{p.ruta}}</td>
        <td>
          <a routerLink="/vuelos/edit/{{p.id}}" class="btn">Editar</a>
          <button class="btn red" (click)="delete(p.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
