<nav>
  <div class="nav-wrapper pink darken-4">
    <a routerLink="/index" class="brand-logo">VUELOS.COM</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="activeSession"><a routerLink="/admin/get/usuario">Administrador</a></li>
      <li *ngIf="activeSession"><a routerLink="/aereopuertos/get/aereopuertos">Aereopuerto</a></li>
      <li *ngIf="activeSession"><a routerLink="/rutas/get/rutas">Ruta</a></li>
      <li *ngIf="activeSession"><a routerLink="/vuelos/get/vuelos">Vuelo</a></li>
      <!-- Sesion
      <li><a routerLink="/seguridad/login">Login</a></li>
      <li><a routerLink="/seguridad/cerrar.sesion">Logout</a></li>
      -->
      <li *ngIf="!activeSession"><a routerLink="/seguridad/login">Login</a></li>
      <li *ngIf="!activeSession"><a routerLink="/admin/create/usuario">Crear usuario</a></li>
      <li *ngIf="activeSession"><a routerLink="/seguridad/logout">Cerrar Sesion</a></li>
    </ul>
  </div>
</nav>
