<nav>
  <div class="nav-wrapper pink darken-4">
    <a routerLink="/index" class="brand-logo">VUELOS.COM</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/admin/get/usuario">Administrador</a></li>
      <li><a routerLink="/aereopuertos/get/aereopuertos">Aereopuerto</a></li>
      <li><a routerLink="/rutas/get/rutas">Ruta</a></li>
      <li><a routerLink="/vuelos/get/vuelos">Vuelo</a></li>
      <li><a routerLink="/seguridad/login">Login</a></li>
    </ul>
  </div>
</nav>
