<div class="container">
  <h3 class="center-align">Registrar Vuelo</h3>
  <form [formGroup]="fgValidacion" class="col s12" (ngSubmit)="store()">
    <div class="row">
      <div class="input-field col s6">
        <input formControlName="Fecha Inicio" type="text" class="validate">
        <label for="Fecha Inicio">Nombre</label>
      </div>
      <div class="input-field col s6">
        <input formControlName="Fecha Fin" type="text" class="validate">
        <label for="Fecha Fin">Apellidos</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="Hora Inicio" type="text" class="validate">
        <label for="Hora Inicio">Telefono</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input formControlName="Hora Fin" type="text" class="validate">
        <label for="Hora Fin">Telefono</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input formControlName="Asientos Vendidos" type="text" class="validate">
        <label for="Asientos Vendidos">Telefono</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input formControlName="Nombre Piloto" type="text" class="validate">
        <label for="Nombre Piloto">Telefono</label>
      </div>
    </div>
    <div class="input-field col s6">
      <select class="browser-default" formControlName="origen">
        <option value="" disabled selected>Seleccione la ruta</option>
        <option *ngFor="let ruta of listadoRutas" value="{{ruta.origen}} - {{ruta.destino}}">
          {{ruta.origen}} - {{ruta.destino}}</option>
      </select>
    </div>

    <div class="row center-align">
      <button [disabled]="!fgValidacion.valid" class="btn waves-effect waves-light" type="submit" name="action">Enviar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
<p>create works!</p>
